#welcome{
    text-align: center;
    font-family: sans-serif;
}

#frame{
    padding-left:  170px;
}

#welcome input[type=submit]{
    float:left;
    margin-left: 20px;
    position: relative;
}
#welcome input[type=text]{
    width: 200px;
   float: left;
   
    position: relative;
}
